[submodule "core-kms-brain"]
	path = core-kms-brain
	url = C:\\Users\\Ruzava\\Desktop\\Test-AI-Engine\\core-kms-brain
[submodule "tech-stack-brain"]
	path = tech-stack-brain
	url = C:\\Users\\Ruzava\\Desktop\\Test-AI-Engine\\tech-stack-brain
