[submodule "core-kms-brain"]
	path = core-kms-brain
	url = https://github.com/Bastien-Antigravity/core-kms-brain.git
	branch = develop
[submodule "tech-stack-brain"]
	path = tech-stack-brain
	url = https://github.com/Bastien-Antigravity/tech-stack-brain.git
	branch = develop
